.notificaciones-container {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 28px;
  cursor: pointer;
  color: #333232;
}
.icon-btn{
  background-color: #f5f7ff;
  border: #f5f7ff;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}

.notificaciones-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
  padding: 10px;
}

.notificaciones-dropdown .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.notificaciones-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
}

.notificaciones-dropdown li {
  padding: 8px 5px;
  border-bottom: 1px solid #f0f0f0;
}

.notificaciones-dropdown li:last-child {
  border-bottom: none;
}

.vacio {
  padding: 20px;
  text-align: center;
  color:gray;
}
